mixin showPosts(post)
  .eachcompcard
    p.complaintcardname=`${post.user.name.split(' ')[0]} ${post.user.rollNumber}`
    p.complaintcardmsg=`${post.title}`
    p.complaintcardmsg=`${post.text}`
    a(href=`/blog/${post.slug}`)
      button.morebtn more

mixin showComment(comment)
  li.cmt
    .cmt-content
      p(style="font-family: Varela Round ; font-size: 12px; color: white;margin-top: 4px;margin-left: 8px; margin-bottom: 8px;")=`${comment.user.name.split(' ')[0]}`
      p(style="width: 75%; font-family: Varela Round ;color: white; margin: 0px; margin-top: 4px;margin-left: 8px;margin-bottom: 8px;")=comment.text